{% load widget_tweaks %}
{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}

{% for field in form %}
  {% if form.is_bound %}
    {% if field.errors %}
      <tr>
	      <td>
	        <br>
	        <div class="group">
	          {% if field == form.old_password %}
	            {% render_field field class="inputMaterial" type="password" %}
	            <span class="highlight"></span>
	            <span class="bar"></span>
	            <label>Old Password</label>
	          {% elif field == form.new_password1 %}
	            {% render_field field class="inputMaterial" type="password" %}
	            <span class="highlight"></span>
	            <span class="bar"></span>
	            <label>New Password</label>
	          {% elif field == form.new_password2 %}
	            {% render_field field class="inputMaterial" type="password" %}
	            <span class="highlight"></span>
	            <span class="bar"></span>
	            <label>Confirm Password</label>
	          {% endif %}
		      </div>
		  	</td>
			</tr>
			{% for error in field.errors %}
        <div class="invalidfeedback" align="center">
          {{ error }}
        </div>
      {% endfor %}
    {% else %}
    	<tr>
	      <td>
	        <br>
	        <div class="group">
	          {% if field == form.old_password %}
	            {% render_field field class="inputMaterial" type="password" %}
	            <span class="highlight"></span>
	            <span class="bar"></span>
	            <label>Old Password</label>
	          {% elif field == form.new_password1 %}
	            {% render_field field class="inputMaterial" type="password" %}
	            <span class="highlight"></span>
	            <span class="bar"></span>
	            <label>New Password</label>
	          {% elif field == form.new_password2 %}
	            {% render_field field class="inputMaterial" type="password" %}
	            <span class="highlight"></span>
	            <span class="bar"></span>
	            <label>Confirm Password</label>
	          {% endif %}
		      </div>
		  	</td>
			</tr>
		{% endif %}
	{% else %}
		<tr>
      <td>
        <br>
        <div class="group">
          {% if field == form.old_password %}
            {% render_field field class="inputMaterial" type="password" %}
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Old Password</label>
          {% elif field == form.new_password1 %}
            {% render_field field class="inputMaterial" type="password" %}
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>New Password</label>
          {% elif field == form.new_password2 %}
            {% render_field field class="inputMaterial" type="password" %}
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Confirm Password</label>
          {% endif %}
	      </div>
	  	</td>
		</tr>
	{% endif %}

{% endfor %}