<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0"
    />
    <title> {% block title %} Stock OverFlow {% endblock%} </title>
    {% load static %}
    <!-- CSS  -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="{%static 'css/materialize.css'%}"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      href="{%static 'css/style.css'%}"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <!--===============================================================================================-->
    <script src="{%static 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <!--===============================================================================================-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{%static 'js/materialize.js'%}"></script>
    <script src="{%static 'js/init.js'%}"></script>
    <script src="{%static 'js/charts.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/c3.min.css'%}">
	<script src = "{% static 'js/d3.v5.min.js' %}"></script>
	<script src = "{% static 'js/c3.min.js' %}"></script>
  </head>
  <body>
    <main>
    {% block content %}
    {% endblock %}
  </main>
  </body>
</html>
