{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}

<div class="container">
   <div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<div style="align:center;">Change Password</div>
		<form method="post">
		  {% csrf_token %}
		  {{ form.as_p}}
		  <button type="submit" class="btn btn-primary">Save changes</button>
		  <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'home' %}">Cancel</button>
		</form>
	</div>
	<div class="col-md-2"></div>
   </div>
</div>

{% endblock %}
