{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">
	window.onload = function(){
		myFunction();
	}
	function myFunction(){
		document.getElementById("portfoliopg").className = "active-custom";
	}
</script>

<div class="container" style="padding:7.2% 0 9% 0;">
  <div class="row" align="center" style="padding:5% 0;margin:0;">
    <h2> Upload CSV</h2>
  </div>
  <div class="row" align="center" style="margin:0;">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <form class="site-form" action="{% url 'portfolio' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.csv_file}}
        <div class="" style="padding:5% 0;">
          <input type="submit" class ="btn btn-primary" value="Upload" style="border-radius:5px;margin-top: 7%">
        </div>
      </form>
    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div class="row" align="center" style="margin:0;">
  	OR
  </div>
  <div class="row" align="center" style="margin:0;">
  	<div class="" style="padding:1% 0;">
      <input type="submit" class ="btn btn-primary" value="Add manually" style="border-radius:5px;">
    </div>
  </div>
</div>

{% endblock %}
