{% extends 'base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block pagecss %}
  <link rel="stylesheet" href="{% static 'css/cardflip_homepage.css' %}">
{% endblock %}

{% block pagejs %}
  <script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}


{% block content %}
<!--**************MAIN IMAGE************-->
  <div class="container-fluid bgimg1" >
    <img src="{% static 'images/img1.jpg' %}" alt="" style="visibility: hidden;width:10px;">
    <div class="container" align="center">
      <div class="row" style="padding-top:25%;">
        <p style="color:#ff541c;font-size:70px;font-weight:600;">Stock Overflow</p>
        <p style="color:white;font-size:30px;">more ideas for your money...</p>
      </div>
    </div>
  </div>

<!--***************SECOND***************-->
  <div class="container-fluid content2" style="padding:128px 16px 0px 16px;">
    <div class="row" style="padding:100px 30px 100px 30px;background-color:#efefef;">
      <div class="col-12 col-sm-6" style="" data-aos="zoom-in-up"  data-aos-duration="1000">
        <div class="desc" style="vertical-align:middle;text-align:left;padding:30px 20% 30px 20%;">
          <p style="font-size:30px;font-weight:600;color:#d13f1f;">About the site</p>
          <p style="font-size:20px;">
            StockOverflow is a fintech company that provides state of the art self-learning, AI based algorithmic
            forecasting solutions for the capital markets to uncover the best investment opportunities.
          </p>
          <p style="font-size:20px;">
            The company provides daily investment forecasts based on an advanced, self-learning algorithm.
          </p>
          <!--<p style="padding:15px 0px 15px 0px;"> <button type="button" name="button" class="btn2">CLICK</button> </p>-->
        </div>
      </div>
      <div class="col-12 col-sm-6 bgimg2" style="" data-aos="zoom-in-up"  data-aos-duration="1000">
        <img src="{% static 'images/img1.jpg' %}" alt="" style="visibility: hidden;width:10px;">
      </div>
    </div>
  </div>

  <!-- **********THIRD**********-->
  <div class="container-fluid content2" style="padding:128px 16px 0px 16px;">
    <div class="row" style="padding:100px 30px 100px 30px;background-color:#efefef;">
      <div class="col-12 col-sm-6 bgimg0" style="" data-aos="zoom-in-down"  data-aos-duration="1000">
        <img src="{% static 'images/img1.jpg' %}" alt="" style="visibility: hidden;width:10px;">
      </div>
      <div class="col-12 col-sm-6" style="" data-aos="zoom-in-down"  data-aos-duration="1000">
        <div class="desc" style="vertical-align:middle;text-align:left;padding:30px 20% 30px 20%;">
          <p style="font-size:30px;font-weight:600;color:#d13f1f;">Analysis</p>
          <p style="font-size:20px;">
            The computation and analysis of the companies&#39; stock quotes vs. actual trading historical record will
            help you to analyze the prediction accuracy and find the stocks that meet your criteria.
          </p>
          <p style="font-size:20px;">

          </p>
          <!--<p style="padding:15px 0px 15px 0px;"> <button type="button" name="button" class="btn2">CLICK</button> </p>-->
        </div>
      </div>
    </div>
  </div>
<!--   oldone
  <div class="container-fluid content3" style="margin:64px 0px 64px 0px;padding:64px 0px 64px 0px;">
    <div class="row content3row" style="padding:5% 10% 5% 10%;">
      <div class="col-md-3 col-sm-6" style="padding:0px;">



      </div>
      <div class="col-md-3 col-sm-6" style="padding:0px">
        <div class="bgimg3" style="margin:10px;">
          <img src="img1.jpg" alt="" style="visibility: hidden;" >
        </div>
        <div class="desc3">
          <div class="desc3inner">
              <p style="font-size:25px;">TITLE</p>
              <p style="font-size:15px;">Description</p>
              <p> <button type="button" name="button" class="btn3">CLICK</button> </p>
          </div>
        </div>
        <div class="showdesc" data-aos="zoom-in" >
          <button type="button" name="button" class="showdescbtn" >Know More</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:0px;">
        <div class="bgimg3" style="margin:10px;">
          <img src="img1.jpg" alt="" style="visibility: hidden;" >
        </div>
        <div class="desc3" id="desc31">
          <div class="desc3inner" id="desc3inner1">
              <p style="font-size:25px;">TITLE</p>
              <p style="font-size:15px;">Description</p>
              <p> <button type="button" name="button" class="btn3">CLICK</button> </p>
          </div>
        </div>
        <div class="showdesc" id="showdesc1" data-aos="zoom-in">
          <button type="button" name="button" class="showdescbtn" id="showdescbtn1" >Know More</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:0px;">
        <div class="bgimg3" style="margin:10px;">
          <img src="img1.jpg" alt="" style="visibility: hidden;" >
        </div>
        <div class="desc3">
          <div class="desc3inner">
              <p style="font-size:25px;">TITLE</p>
              <p style="font-size:15px;">Description</p>
              <p> <button type="button" name="button" class="btn3">CLICK</button> </p>
          </div>
        </div>
        <div class="showdesc" data-aos="zoom-in" >
          <button type="button" name="button" class="showdescbtn" >Know More</button>
        </div>
      </div>
    </div>
  </div>
-->

  <div class="container-fluid" style="background-color:black;margin:128px 0px 64px 0px;">
    <div class="row" style="padding:128px 50px 128px 50px;text-align:center;">
      <!--<div class="col-md-3 col-sm-6" style="padding:20px;">
        <div class="card" data-aos="zoom-out-right" data-aos-delay="400">
          <div class="image">
            <img src="{% static 'images/img1.jpg' %}" style="background-size:cover;background-position:center;min-height:100%;"/>
          </div>
          <div class="details">
            <div class="center">
              <h1>TITLE<br><span>somethingelse</span></h1>
              <p>Description</p>
            </div>
          </div>
        </div>
      </div>-->
      <div class="col-md-4 col-sm-6" style="padding:20px 5% 20px 5%;">
        <div class="card" data-aos="zoom-out-right" data-aos-delay="300">
          <div class="image">
            <img src="{% static 'images/portfolio.jpg' %}" style="background-size:cover;background-position:center;min-height:100%;"/>
          </div>
          <div class="details">
            <div class="center" style="padding-top:5%;">
              <h1>Portfolio<br><!--<span>somethingelse</span>--></h1>
              <p>The Portfolio Manager combines a users investment strategies into a single report</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" style="padding:20px 5% 20px 5%;">
        <div class="card" data-aos="zoom-out-up" data-aos-delay="300">
          <div class="image">
            <img src="{% static 'images/prediction.jpg' %}" style="background-size:cover;background-position:center;min-height:100%;"/>
          </div>
          <div class="details">
            <div class="center" style="padding-top:5%;">
              <h1>Algorithmic Forecasts<br><!--<span>somethingelse</span>--></h1>
              <p>We utilize an advanced self-learning algorithm to analyze, model and predict the stock market.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" style="padding:20px 5% 20px 5%;">
        <div class="card" data-aos="zoom-out-up" data-aos-delay="400">
          <div class="image">
            <img src="{% static 'images/calculator_1.png' %}" style="background-size:cover;background-position:center;min-height:100%;"/>
          </div>
          <div class="details">
            <div class="center" style="padding-top:5%;">
              <h1>Profit Calculator<br><!--<span>somethingelse</span>--></h1>
              <p>The Profit Calculator will estimate the total profit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--***************FEATURES***************-->
  <div class="container-fluid" style="padding:64px 0px 128px 0px;">
      <div class="row" style="width:100%;margin:0px;">
        <div class="col-sm-12 center-block text-center" style="padding:0px;" data-aos="fade-up">
          <p style="font-size:30px;font-weight:600;">TITLE - 1</p>
          <p style="padding:20px 0px 20px 0px;font-size:20px;">Title - 2</p>
        </div>
      </div>
      <div class="row" style="padding:20px 0px 20px 0px;text-align:center;margin:0px;">
        <div class="col-md-3 col-sm-6" style="padding=0px;">
          <div class="abtus1 abtus-card" data-aos="flip-left">
            <i class="fa fa-heart abtus-icon"></i>
            <p class="abtus-title">Title</p>
            <p>Desciption skdjafn safknask fasfk  snfsf nksajfnas </p>
            <!--<p style="padding:15px 0px 15px 0px;"> <button type="button" name="button" class="btn3">CLICK</button> </p>-->
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="abtus2 abtus-card" data-aos="flip-left">
            <i class="fa fa-laptop abtus-icon"></i>
            <p class="abtus-title">Title</p>
            <p>Desciption skdjafn safknask fasfk  snfsf nksajfnas </p>
            <!--<p style="padding:15px 0px 15px 0px;"> <button type="button" name="button" class="btn3">CLICK</button> </p>-->
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="abtus3 abtus-card" data-aos="flip-right">
            <i class="fa fa-line-chart abtus-icon"></i>
            <p class="abtus-title">Title</p>
            <p>Desciption skdjafn safknask fasfk  snfsf nksajfnas </p>
            <!--<p style="padding:15px 0px 15px 0px;"> <button type="button" name="button" class="btn3">CLICK</button> </p>-->
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="abtus4 abtus-card" data-aos="flip-right">
            <i class="fa fa-male abtus-icon"></i>
            <p class="abtus-title">Title</p>
            <p>Desciption skdjafn safknask fasfk  snfsf nksajfnas </p>
            <!--<p style="padding:15px 0px 15px 0px;"> <button type="button" name="button" class="btn3">CLICK</button> </p>-->
          </div>
        </div>
      </div>
  </div>
{% endblock %}

{% block cont %}
{% endblock %}
