{% extends 'base1.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
	<div class="limiter">
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h3 class="modal-title" id="myModalLabel">Reset Password</h3>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      </div>
		      <div class="modal-body">
		      	{% include 'password_reset_form.html' %}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form class="login100-form validate-form" method="post" id=email-form>
					<span class="login100-form-title p-b-55">
							StockOverFlow
					</span>
					{% csrf_token %}
					{% include 'includes/login.html' %}
					<div class="shift" > </div>
					<div class="contact100-form-checkbox m-l-4">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>
					</a>
					<!-- <a href="{% url 'password_reset' %}" data-toggle="modal" data-target="#myModal" data-remote="false" class="txt1 hov1" id="forgot"> -->
					<a href="{% url 'password_reset' %}" class="txt1 hov1" style="text-decoration:none">
					    Forgot Password
					</a>
					<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  				<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
					<script>
					  $("#myModal").on("show.bs.modal", function(e) {
					      var link = $(e.relatedTarget);
					      $(this).find(".modal-body").load(link.attr("href"));
					  });

					 // $(window.location.hash).modal('show');
				   //  $('a[data-toggle="modal"]').click(function(){
				   //      window.location.hash = $(this).attr('href');
				   //  });

				   //  function revertToOriginalURL() {
				   //      var original = window.location.href.substr(0, window.location.href.indexOf('#'))
				   //      history.replaceState({}, document.title, original);
				   //  }

				   //  $('.modal').on('hidden.bs.modal', function () {
				   //      revertToOriginalURL();
				   //  });
					</script>


					<div class="container-login100-form-btn p-t-25">
						<button class="login100-form-btn" type="submit">
							Login
						</button>
					</div>

					<div class="text-center w-full p-t-42 p-b-22">
						<span class="txt1">
							Or login with
						</span>
					</div>

					{% comment %} <a href="#" class="btn-face m-b-10">
						<i class="fa fa-facebook-official"></i>
						Facebook
					</a> {% endcomment %}


					<!--<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

					<div style="text-align:center;">
						<div style="display:inline-block;">
							<button type="button">
								<div class="g-signin2" data-width="300" data-height="200" data-longtitle="true">
							</button>
						</div>
					</div>
<br>-->
            <div class="container" align="center">
							<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn-google m-b-10" style="text-decoration:none">
								<img src="{%static 'images/icons/icon-google.png'%}" alt="GOOGLE">
								Google
							</a>
            </div>
					<div class="text-center w-full p-t-115">
						<span class="txt1">
							Not a member?
						</span>

						<a class="txt1 bo1 hov1" href="{% url 'signup' %}" style="text-decoration:none">
							Sign up now
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
