{% extends 'base2.html' %}
{% load static %}

{% block title %}Login{% endblock %}
 
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br /><br />
        <h3 class="header center orange-text">StockOverflow</h3>
        <h5 class="header center orange-text">Change Password</h5>
        <div class="row center">
          <h5 class="header col s12 light">
        </div>
      <h6 class="header grey-text">Choose a strong password and don't reuse it for other accounts.</h6>
        <br>
        <div class="row">
        <form>
        <div class="input-field col s3">
          <input id="password" type="password" class="validate">
          <label for="password">Old password</label>
        </div>
        </div>
      <h6 class="header black-text">Password strength:</h6>
      <h6 class="header grey-text">Use at least 8 characters. Don’t use a password from another site, or something too obvious.</h6>
      <h6 class="header grey-text">Your password can't be entirely numeric.</h6>
        <br>
        <div class="row">
        <div class="input-field col s3">
          <input id="newpassword" type="password" class="validate">
          <label for="password">New password</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s3">
          <input id="confirmpassword" type="password" class="validate">
          <label for="password">Confirm new password</label>
        </div>
        </div>
        </h5>
        <a
        class="waves-effect waves-light btn"
        style="margin-left: 3%; background-color:dodgerblue; margin: auto;"
        >Change Password</a
      >
        </div>
        <br /><br />
      </div>
      </form>
    </div>
{% endblock %}