{% block content %}
{% load widget_tweaks %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="content">
        <form class="float-label" method="post">
          <table cellspacing="10px" cellpadding="10px" align="center">
          	{% csrf_token %}
          	{% render_field form.email class="inputMaterial" %}
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
          </table>
      </div>
  	<div style="text-align:center;">
  		<div style="display:inline-block; padding-top: 50px">
  			<button type="submit" class="btn btn-primary" style="width:100px;">Reset</button>
  			<button type="button" class="btn btn-default" onclick="location.href='{% url 'login' %}'" style="width:100px;">Close</button>
  		</div>
  		</form>
  	</div>
  </div>
</div>

<style media="screen">
  label{

  }
</style>

{% endblock %}
