{% extends 'base2.html' %}
{% load static %}

{% block title %}Login{% endblock %}
 
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br /><br />
        <h1 class="header center orange-text">StockOverflow</h1>
        <div class="row center">
          <h5 class="header col s12 light">
          Your password has been successfully changed. You may go ahead and <a href="{% url 'login' %}">Sign in</a> now.
          </h5>
        </div>
        <br /><br />
      </div>
    </div>
{% endblock %}