{% block content %}
{% load widget_tweaks %}
{% load static %}
  <form method="post">
    {% csrf_token %}
    <div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
			{% render_field form.email class="input100" placeholder="Email" %}
			<span class="focus-input100"></span>
			<span class="symbol-input100">
				<span class="lnr lnr-envelope"></span>
			</span>
		</div>
    <div class="invalidfeedback"></div>
	<div style="text-align:center;">
		<div style="display:inline-block;">
			<button type="submit" class="btn btn-primary" style="width:100px;">Reset</button>
			<button type="button" class="btn btn-default" onclick="location.href='{% url 'login' %}'" style="width:100px;">Close</button>
		</div>
	</div>
  </form>
{% endblock %}
