{% extends 'base.html' %}
{% load static %}
{% block pagecss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/logincss.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}
{% block content %}
  {% if validlink %}
   <style type="text/css">
	td{
		padding:15px;
	}
</style>
<!--****************FORM******************-->
<div class="container" align="center">
  <div class="row" align="center" style="padding:6% 0px 0px 0px;">
    <div class="rowcontainer">
        Change Password
    </div>
  </div>
  <div class="row" style="padding:0px 0px 12.4% 0px;">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 col-sm-12">
      <div class="content" >
        <form class="float-label" method="post">
          <table cellspacing="10px" cellpadding="10px" align="center">
          	{% csrf_token %}
						{% include 'includes/change_password.html' %}
            <tr align="center">
              <td><input type="submit" class="button" value="Change Password"></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}