{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script>
    AOS.init();
  </script>

  <script src="temp.js"></script>
  <link rel="stylesheet" href="temp.css">
  <link rel="stylesheet" href="cardflip.css">
  <link rel="stylesheet" href="logincss.css">

  <style media="screen">
    .cardss{
      border-radius: 25px;
      padding: 10px;
      width:70%;
    }
    .rowss{
      padding:5% 0;
    }
    .rowsss{
      padding : 3% 0;
    }
  </style>
</head>

<body style="padding-top:50px;">

<!--***************NAVBAR******************-->
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header" style="padding-left:10%;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" >Website Name/Logo </a>
      </div>
      <!--<form class="navbar-form navbar-left" autocomplete="off" action="">
        <div class="input-group autocomplete">
          <input type="text" class="form-control" id="myInput" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>-->
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right" style="padding-right:10%;">
          <!--<li>
            <form autocomplete="off" action="">
              <div class="autocomplete" style="width:300px;">
                <input id="myInput" type="text" name="myCountry" placeholder="Country">
              </div>
              <input type="submit">
            </form>
          </li>-->
          <li class="active-custom"><a href="#" class="nav-item"><i class="fa fa-home" style="font-size:20px"></i> Home</a></li>
          <li class="dropdown nav-item">
            <a class="dropdown-toggle nav-item" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
            <ul class="dropdown-menu animate slideIn">
              <li><a href="#">Page 1-1</a></li>
              <li><a href="#">Page 1-2</a></li>
              <li><a href="#">Page 1-3</a></li>
            </ul>
          </li>
          <li><a class="nav-item" href="#">Page 2</a></li>
          <li><a class="nav-item" href="#"><span class="nav-item glyphicon glyphicon-user"></span> Signin</a></li>
          <li><a class="nav-item" href="#"><span class="nav-item glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!--
<div class="">
    <i class="fa fa-heart try checked" id="try"></i>
</div>

<style media="screen">
  .try{
    z-index: 5;
  }
  .checked{
    font-size:25px;
    color:red;
    cursor:pointer;
  }
  .unchecked{
    font-size:25px;
    cursor:pointer;
  }
</style>

<script type="text/javascript">
  $("#try").click(function() {
  console.log("clicked");
  if(this.className=="fa fa-heart try checked"){
    console.log("change");
    this.className = "fa fa-heart-o try unchecked";
  }
  else{
    this.className = "fa fa-heart try checked";
  }

  });
</script> -->

  <!--<div class="container" style="padding:5% 0 0 0;" align="center">
    <div class="row" style="padding:0 0 3% 0;">
      <h2>Wishlist</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row rowsss">
              <div class="card cardss" style="background-color:#95b7ed;">
                <a href="#" style="text-decoration:none;">
                  <div class="card-body">
                    <h4 class="card-title"><u>Stock Name</u></h4>
                    <p class="card-text">Price : </p>
                  </div>
                </a>
                <!-- <i class="fa fa-heart try checked"></i> -->
              </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row rowsss">
            <a href="#" style="text-decoration:none;">
              <div class="card cardss" style="background-color:#95b7ed;">
                <div class="card-body">
                  <h4 class="card-title"><u>Stock Name</u></h4>
                  <p class="card-text">Price : </p>
                </div>
              </div>
            </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row rowsss">
            <a href="#" style="text-decoration:none;">
              <div class="card cardss" style="background-color:#95b7ed;">
                <div class="card-body">
                  <h4 class="card-title"><u>Stock Name</u></h4>
                  <p class="card-text">Price : </p>
                </div>
              </div>
            </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row rowsss">
            <a href="#" style="text-decoration:none;">
              <div class="card cardss" style="background-color:#95b7ed;">
                <div class="card-body">
                  <h4 class="card-title"><u>Stock Name</u></h4>
                  <p class="card-text">Price : </p>
                </div>
              </div>
            </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row rowsss">
            <a href="#" style="text-decoration:none;">
              <div class="card cardss" style="background-color:#95b7ed;">
                <div class="card-body">
                  <h4 class="card-title"><u>Stock Name</u></h4>
                  <p class="card-text">Price : </p>
                </div>
              </div>
            </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row rowsss">
            <a href="#" style="text-decoration:none;">
              <div class="card cardss" style="background-color:#95b7ed;">
                <div class="card-body">
                  <h4 class="card-title"><u>Stock Name</u></h4>
                  <p class="card-text">Price : </p>
                </div>
              </div>
            </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row rowsss">
            <a href="#" style="text-decoration:none;">
              <div class="card cardss" style="background-color:#95b7ed;">
                <div class="card-body">
                  <h4 class="card-title"><u>Stock Name</u></h4>
                  <p class="card-text">Price : </p>
                </div>
              </div>
            </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row rowsss">
            <a href="#" style="text-decoration:none;">
              <div class="card cardss" style="background-color:#95b7ed;">
                <div class="card-body">
                  <h4 class="card-title"><u>Stock Name</u></h4>
                  <p class="card-text">Price : </p>
                </div>
              </div>
            </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row rowsss">
            <a href="#" style="text-decoration:none;">
              <div class="card cardss" style="background-color:#95b7ed;">
                <div class="card-body">
                  <h4 class="card-title"><u>Stock Name</u></h4>
                  <p class="card-text">Price : </p>
                </div>
              </div>
            </a>
        </div>
      </div>
    </div>
  </div>-->

<div class="container" style="padding:5% 0;" align="center">
  <div class="row">
    <div class="col-md-4">
      <div class="row rowss" >
        <h2>Recently Viewed</h2>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#95b7ed;">
              <div class="card-body">
                <h4 class="card-title"><u>Stock Name</u></h4>
                <p class="card-text">Price : </p>
              </div>
            </div>
          </a>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#ffe2a0;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>Stock Name</u></h4>
                <p class="card-text">Price : </p>
              </div>
            </div>
          </a>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#ffbfe6;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>Stock Name</u></h4>
                <p class="card-text">Price : </p>
              </div>
            </div>
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row rowss">
        <h2>Most Viewed</h2>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#95b7ed;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>Stock Name</u></h4>
                <p class="card-text">Price : </p>
              </div>
            </div>
          </a>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#ffe2a0;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>Stock Name</u></h4>
                <p class="card-text">Price : </p>
              </div>
            </div>
          </a>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#ffbfe6;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>Stock Name</u></h4>
                <p class="card-text">Price : </p>
              </div>
            </div>
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row rowss">
        <h2>Trending</h2>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#95b7ed;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>Stock Name</u></h4>
                <p class="card-text">Price : </p>
              </div>
            </div>
          </a>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#ffe2a0;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>Stock Name</u></h4>
                <p class="card-text">Price : </p>
              </div>
            </div>
          </a>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#ffbfe6;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>Stock Name</u></h4>
                <p class="card-text">Price : </p>
              </div>
            </div>
          </a>
      </div>
    </div>
  </div>
</div>

<!--***************FOOTER***************-->
  <div class="futer">
    <div class="row">
      <div class="col-12 col-sm-6">
        Left
      </div>
      <div class="col-12 col-sm-6">
        <p>CONTACT US</p>
        <p><i class="fa fa-phone futer-icon"></i> &nbsp Phone :</p>
        <p><i class="fa fa-envelope futer-icon"></i> &nbsp Email :</p>
      </div>
    </div>
  </div>

  <script>
  function autocomplete(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function(e) {
        var a, b, i, val = this.value;
        /*close any already open lists of autocompleted values*/
        closeAllLists();
        if (!val) { return false;}
        currentFocus = -1;
        /*create a DIV element that will contain the items (values):*/
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        /*append the DIV element as a child of the autocomplete container:*/
        this.parentNode.appendChild(a);
        /*for each item in the array...*/
        for (i = 0; i < arr.length; i++) {
          /*check if the item starts with the same letters as the text field value:*/
          if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            /*create a DIV element for each matching element:*/
            b = document.createElement("DIV");
            /*make the matching letters bold:*/
            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
            b.innerHTML += arr[i].substr(val.length);
            /*insert a input field that will hold the current array item's value:*/
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            /*execute a function when someone clicks on the item value (DIV element):*/
            b.addEventListener("click", function(e) {
                /*insert the value for the autocomplete text field:*/
                inp.value = this.getElementsByTagName("input")[0].value;
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists();
            });
            a.appendChild(b);
          }
        }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function(e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
          /*If the arrow DOWN key is pressed,
          increase the currentFocus variable:*/
          currentFocus++;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 38) { //up
          /*If the arrow UP key is pressed,
          decrease the currentFocus variable:*/
          currentFocus--;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 13) {
          /*If the ENTER key is pressed, prevent the form from being submitted,*/
          e.preventDefault();
          if (currentFocus > -1) {
            /*and simulate a click on the "active" item:*/
            if (x) x[currentFocus].click();
          }
        }
    });
    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false;
      /*start by removing the "active" class on all items:*/
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }
    function closeAllLists(elmnt) {
      /*close all autocomplete lists in the document,
      except the one passed as an argument:*/
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
  }

  /*An array containing all the country names in the world:*/
  var stocks = ["stock1","stock2","stock3"];

  /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
  autocomplete(document.getElementById("myInput"), stocks);
  </script>

  <style>



  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }

  input {
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }

  input[type=text] {

  }

  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }

  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  </style>

  <script>
    AOS.init();
  </script>
</body>
</html>
