{% extends 'base.html' %}
{% block title %}User Profile{% endblock %}
<!--
<div class="">
    <i class="fa fa-heart try checked" id="try"></i>
</div>

<style media="screen">
  .try{
    z-index: 5;
  }
  .checked{
    font-size:25px;
    color:red;
    cursor:pointer;
  }
  .unchecked{
    font-size:25px;
    cursor:pointer;
  }
</style>

<script type="text/javascript">
  $("#try").click(function() {
  console.log("clicked");
  if(this.className=="fa fa-heart try checked"){
    console.log("change");
    this.className = "fa fa-heart-o try unchecked";
  }
  else{
    this.className = "fa fa-heart try checked";
  }

  });
</script> -->
{% block content %}

  <style media="screen">
    .cardss{
      border-radius: 25px;
      padding: 10px;
      width:70%;
    }
    .rowss{
      padding:5% 0;
    }
    .rowsss{
      padding : 3% 0;
    }
  </style>

<div class="container" style="padding:5% 0;" align="center">
  <div class="row">
    <div class="col-md-4">
      <div class="row rowss" >
        <h2>Recently Viewed</h2>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#95b7ed;">
              <div class="card-body">
                <h4 class="card-title"><u>Apple</u></h4>
                <p class="card-text">Price : 203.13</p>
              </div>
            </div>
          </a>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#ffe2a0;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>Johnson & Johnson</u></h4>
                <p class="card-text">Price : 138.52</p>
              </div>
            </div>
          </a>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#ffbfe6;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>Meta Financial Group Inc.</u></h4>
                <p class="card-text">Price : 22.21</p>
              </div>
            </div>
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row rowss">
        <h2>Most Viewed</h2>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#95b7ed;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>Apple</u></h4>
                <p class="card-text">Price : 203.13</p>
              </div>
            </div>
          </a>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#ffe2a0;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>Meta Financial Group Inc.</u></h4>
                <p class="card-text">Price : 22.21</p>
              </div>
            </div>
          </a>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#ffbfe6;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>FuelCell Energy Inc</u></h4>
                <p class="card-text">Price : 0.223</p>
              </div>
            </div>
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row rowss">
        <h2>Trending</h2>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#95b7ed;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>Apple</u></h4>
                <p class="card-text">Price : 203.13</p>
              </div>
            </div>
          </a>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#ffe2a0;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>Johnson & Johnson</u></h4>
                <p class="card-text">Price : 138.52</p>
              </div>
            </div>
          </a>
      </div>
      <div class="row rowsss">
          <a href="#" style="text-decoration:none;">
            <div class="card cardss" style="background-color:#ffbfe6;width:70%;">
              <div class="card-body">
                <h4 class="card-title"><u>BancFirst</u></h4>
                <p class="card-text">Price : 55.77</p>
              </div>
            </div>
          </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
