{% extends 'search_stock_with_graph.html' %}
{% load static %}

{% block title %}Stock View{% endblock %}

{% block button %}
{{myhtml|safe}}{% autoescape off%}
<!-- <link
      href="{%static 'css/materialize.css'%}"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    /> -->
<!-- <a
    class="waves-effect waves-light btn-large modal-trigger"
    href="{% url 'stockpredict' pk %}"
    style="margin-left: 3%; background-color:dodgerblue; margin: auto; display: block; color:white; height:300px; align-items : center;"
    >Predict Future Trend</a
  > -->
  <a href="{% url 'stockpredict' pk %}">
	  <input type="button" value="Predict Future Trend" style="width: 75%; background-color:dodgerblue; color:white; border-color: dodgerblue;">
	</a>

  <!-- <button type="submit">Add</button> -->
 {% endautoescape%}
{% endblock %}

{% block cont %}
<script>
  var chart = c3.generate({{ stockview|safe }});
</script>
<!-- <script type=>
	$("")
	setTimeout(function(){// wait for 5 secs(2)
           location.reload(); // then reload the page.(3)
      }, 500000);
</script> -->
{% endblock %}
